<%- include("../../views/partials/user/headerprofile") %>
    <div class="col-md-9">
        <div class="tab-pane " id="account-detail">
            <div class="card">
                <div class="card-header">
                    <h5>Account Details</h5>
                </div>
                <div class="card-body">
                    <div class="avatar-section">
                        <div class="avatar" id="avatar" style="background-image: url('<%= user.avatar || "" %>');">
                            <% if (!user.avatar) { %>
                                <%= user.name.charAt(0).toUpperCase() %>
                                    <% } %>
                        </div>

                        <input type="file" id="avatar-upload" style="display: none;" accept="image/*">
                    </div>



                    <form method="post" id="updateForm">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Full Name </label>
                                <input type="text" name="name" class="form-control" id="name" value="<%= user.name %>"
                                    placeholder="Enter full name">
                                <div id="nameError" class="error-message"></div>
                            </div>


                            <div class="form-group col-md-12">
                                <label>Email Address </label>
                                <input class="form-control" name="email" type="email" id="email"
                                    value="<%= user.email %>" readonly>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Mobile Number</label>
                                <input class="form-control" name="phone" type="text" id="phone"
                                    value="<%= user.phone %>" placeholder="Enter mobile number">
                                <div id="phoneError" class="error-message" style="color: red;"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Current Password</label>
                                <div class="input-group">
                                    <input class="form-control" name="password" type="password" id="password"
                                        placeholder="Enter your current password">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="toggleCurrentPassword"
                                            style="cursor: pointer;">
                                            <i class="fas fa-eye" id="currentPasswordEye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div id="passwordError" class="error-message"></div>
                            </div>

                            <div class="form-group col-md-12">
                                <label>New Password</label>
                                <div class="input-group">
                                    <input class="form-control" name="npassword" type="password" id="npassword"
                                        placeholder="Enter your new password" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="toggleNewPassword" style="cursor: pointer;">
                                            <i class="fas fa-eye" id="newPasswordEye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div id="newPasswordError" class="error-message"></div>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Confirm Password</label>
                                <div class="input-group">
                                    <input class="form-control" name="cpassword" type="password" id="cpassword"
                                        placeholder="Confirm your new password" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="toggleConfirmPassword"
                                            style="cursor: pointer;">
                                            <i class="fas fa-eye" id="confirmPasswordEye"></i>
                                        </span>
                                    </div>
                                </div>
                                <div id="confirmPasswordError" class="error-message"></div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit"
                                    style="background-color: brown;" id="saveButton">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../views/partials/user/footerprofile") %>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/editUserDetails.js"></script>
        <script src="/js/toggleEyeAccountDetails.js"></script>