<%- include("../../views/partials/user/headercart") %>
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4 style="font-size: 24px; font-family: 'Nunito Sans';">Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="shopping-cart spad" style="    margin-left: 50px;
    margin-right: 50px;">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-9" style=" padding-top: 28px;  margin-left: 35px; margin-right: 12px;">
                    <% if (isCartEmpty) { %>
                        <div class="empty-cart-section">
                            <div class="empty-cart-content">
                                <img src="/assets/images/Empty_Cart.png" alt="Empty Cart" class="empty-cart-image mb-4">
                                <h2>Your Cart is Empty</h2>

                                <% if (!isGuest) { %>
                                    <p>Looks like you haven't added any items to your cart yet.</p>
                                    <% } else { %>
                                        <p>Looks like you not logged in yet. You need to login to have access to cart or
                                            to purchase item .</p>
                                        <% } %>
                                            <div class="empty-cart-actions">
                                                <a href="/" class="btn btn-primary"
                                                    style="background-color: black;">Continue Shopping</a>
                                                <% if (!isGuest) { %>
                                                    <a href="/wishlist" class="btn btn-secondary">View Wishlist</a>
                                                    <% } %>
                                            </div>
                            </div>
                        </div>
                        <% } else { %>
                            <div class="shopping__cart__table">

                                <table class="table table-responsive cart-table">
                                    <thead>
                                        <tr>
                                            <th style="width: 200px;">Product</th>
                                            <th>Brand</th>
                                            <th>size</th>
                                            <th>Color</th>
                                            <th>Category</th>

                                            <th>Quantity</th>
                                            <th>Status</th>
                                            <th>Subtotal</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% cartItems.forEach(item=> { %>
                                            <tr class="cart-item">
                                                <td class="product-details d-flex col">
                                                    <img src="<%= item.product.productImage && item.product.productImage[0] ? '/uploads/product-image/' + item.product.productImage[0] : '/path/to/default-image.jpg' %>"
                                                        alt="<%= item.product.productName %>" class="img-fluid " style="padding-right:4px;     max-width: 49%;
    height: 38px;
">
                                                    <div class="product-info">
                                                        <h6>
                                                            <%= item.product.productName %>
                                                        </h6>
                                                        <p>Sale Price: <b>
                                                                <%= item.product.salePrice %>
                                                            </b>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td class="product-color">
                                                    <p>
                                                        <%= item.productBrand %>
                                                    </p>
                                                </td>
                                                <td class="product-color">
                                                    <p>
                                                        <%= item.size %>
                                                    </p>
                                                </td>
                                                <td class="product-color">
                                                    <p>
                                                        <%= item.color %>
                                                    </p>
                                                </td>
                                                <td class="product-color">
                                                    <p>
                                                        <%= item.productCategory %>
                                                    </p>
                                                </td>

                                                <td class="product-quantity">
                                                    <div class="quantity-control d-flex col">
                                                        <button class="qty-btn decrease-qty"
                                                            data-product-id="<%= item.product._id %>"
                                                            data-size="<%= item.size %>" data-color="<%= item.color %>"
                                                            style="border: none;">-</button>

                                                        <input style="    width: 48px; border: none;" type="number"
                                                            value="<%= item.quantity %>" readonly min="1" max="6"
                                                            id="quantityInput_<%= item.product._id %>_<%= item.size %>_<%= item.color %>"
                                                            class="quantity-input" style="border: none;"
                                                            data-max-stock="<%= item.selectedVariantStockLevel %>">

                                                        <button class="qty-btn increase-qty"
                                                            data-product-id="<%= item.product._id %>"
                                                            data-size="<%= item.size %>" data-color="<%= item.color %>"
                                                            style="border: none;">+</button>
                                                    </div>
                                                </td>

                                                <td class="product-status">
                                                    <p class="stock-status" data-product-id="<%= item.product._id %>"
                                                        data-size="<%= item.size %>" data-color="<%= item.color %>"
                                                        style="color: 
                                                        <%= item.selectedVariantStockLevel === 0 ? 'rgb(237, 50, 50)' : 
                                                            (item.selectedVariantStockLevel > 0 && item.selectedVariantStockLevel <= 10 ? 'rgb(255, 165, 0)' : 'rgb(32, 167, 32)') %>;">
                                                        <%= item.selectedVariantStockLevel===0 ? 'Out of Stock' :
                                                            (item.selectedVariantStockLevel> 0 &&
                                                            item.selectedVariantStockLevel <= 10 ?
                                                                item.selectedVariantStockLevel + '' +
                                                                (item.selectedVariantStockLevel> 1 ? '' : '') + ' left'
                                                                : 'In Stock') %>
                                                    </p>
                                                </td>
                                                <td class="product-total" data-product-id="<%= item.product._id %>"
                                                    data-size="<%= item.size %>" data-color="<%= item.color %>">
                                                    ₹<%= item.itemTotal.toFixed(2) %>
                                                </td>
                                                <td class="cart__close" data-product-id="<%= item.product._id %>"><i
                                                        class="fa fa-close"></i></td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="continue__btn" style="margin-left: 35px;">
                                        <a href="/shop">Continue Shopping</a>
                                    </div>
                                </div>

                            </div>

                </div>

                <div class="cart-summary "
                    style="  background-color: #f3efe9; padding: 20px 20px 20px 20px; margin-top: 30px;">
                    <div class="summary-card">
                        <h6 class="text-center"><b>CART TOTAL</b></h6>

                        <ul class="list-unstyled col-12">
                            <li class="summary-row d-flex justify-content-between">
                                <span style="width: 100px;">Sale Price Subtotal</span>
                                <span style="color: #f94242; margin-top: 15px;"><b>₹<%= subtotal.toFixed(2) %>
                                    </b></span>
                            </li>

                            <li class="summary-row d-flex justify-content-between">
                                <span>Shipping</span>
                                <span>₹<%= shippingCharge.toFixed(2) %></span>
                            </li>
                            <li class="summary-row total d-flex justify-content-between">
                                <span>Total</span>
                                <strong style="color: #f94242;">₹<%= total.toFixed(2) %></strong>
                            </li>
                        </ul>
                        <a href="/checkout" class="btn btn-primary w-100 "
                            style="border-radius: 0px; background-color: black;">Proceed to
                            Checkout</a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        </div>
    </section>


    <%- include("../../views/partials/user/footershop") %>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/cartUpdation.js"></script>