<%- include("../../views/partials/user/headercheckout") %>

    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form id="checkoutForm" action="/checkout" method="POST">
                    <div class="row">
                        <div class="col-lg-7 col-md-5">
                            <% if (addresses.length===0) { %>
                                <h2>No address added yet.</h2>
                                <% } else { %>
                                    <% addresses.forEach(address=> { %>
                                        <div class="card mb-3 mb-lg-3">
                                            <div class="card-header d-flex justify-content-between align-items-center"
                                                style="background-color: #db1717;">
                                                <h5 class="mb-0">Address</h5>
                                                <% if (address.isPrimary) { %>
                                                    <span class="badge bg-success"
                                                        style="margin-right: 23px; color:white; background-color: black !important;">Primary</span>
                                                    <% } %>
                                            </div>
                                            <div class="card-body">
                                                <address>
                                                    <%= address.fullName %><br>
                                                        <%= address.flatHouseCompany %>, <%= address.areaStreet %><br>
                                                                <%= address.city %>, <%= address.state %> - <%=
                                                                            address.postalCode %><br>
                                                                            <%= address.mobileNumber %><br>
                                                </address>
                                                <div class="d-flex justify-content-between">
                                                    <% if (!address.isPrimary) { %>
                                                        <a href="#" class="btn-small btn-link"
                                                            onclick="confirmPrimaryAddress(event, '<%= address._id %>')">
                                                            Set as Primary
                                                        </a>

                                                        <% } %>
                                                            <a href="#" class="btn-small btn-link edit-address-btn"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#editAddressModal"
                                                                data-id="<%= address._id %>"
                                                                data-addresstype="<%= address.addressType %>"
                                                                data-fullname="<%= address.fullName %>"
                                                                data-country="<%= address.country %>"
                                                                data-phone="<%= address.mobileNumber %>"
                                                                data-pincode="<%= address.postalCode %>"
                                                                data-home="<%= address.flatHouseCompany %>"
                                                                data-area="<%= address.areaStreet %>"
                                                                data-landmark="<%= address.landmark %>"
                                                                data-town="<%= address.city %>"
                                                                data-state="<%= address.state %>">
                                                                <i class="fas fa-edit"></i> Edit
                                                            </a>

                                                            <a href="#" class="btn-small btn-link text-danger"
                                                                onclick="confirmDeleteAddress(event, '<%= address._id %>')">
                                                                <i class="fas fa-trash"></i> Delete
                                                            </a>
                                                </div>
                                            </div>
                                        </div>
                                        <% }); %>
                                            <% } %>
                                                <!-- Common Add Address Button -->

                                                <% if (addresses.length < 4) { %>
                                                    <a class="btn btn-primary"
                                                        style="width: 150px; background-color: black; margin-left: 20px; color: rgb(251, 251, 251);"
                                                        data-bs-toggle="modal" data-bs-target="#addressModal">
                                                        Add Address
                                                    </a>
                                                    <% } %>
                        </div>
                        <div class="col-lg-5 col-md-7">
                            <div style="    margin-left: 20px;
                                                                                          
                                                                                            padding-top: 28px;
                                                                                            padding-bottom: 28px;">
                                <div class="cart__discount" style="margin-bottom: 20px;">
                                    <h6>Discount codes</h6>
                                    <!-- <form id="couponForm" class="form-stacked">
                                        <input type="text" placeholder="Coupon code" id="couponCodeInput">
                                        <button type="button" id="applyCouponButton"
                                            style="font-size: 14px; margin-top: 15px; color: #ffffff; font-weight: 700; letter-spacing: 2px; text-transform: uppercase; background: #111111; padding: 0 30px; width: 100%; border: none; height: 50px;">Apply</button>
                                        <button type="button" id="removeCouponButton"
                                            style="font-size: 14px; margin-top: 15px; color: #ffffff; font-weight: 700; letter-spacing: 2px; text-transform: uppercase; background: #111111; padding: 0 30px; border: none; height: 50px; width: 100%;">Remove</button>
                                    </form> -->
                                    <form id="couponForm" class="form-stacked">
                                        <input type="text" placeholder="Coupon code" id="couponCodeInput">
                                        <button type="button" id="applyCouponButton"
                                            style="font-size: 14px; margin-top: 15px; color: #ffffff; font-weight: 700; letter-spacing: 2px; text-transform: uppercase; background: #111111; padding: 0 30px; width: 100%; border: none; height: 50px;">
                                            Apply
                                        </button>
                                        <button type="button" id="removeCouponButton" disabled
                                            style="font-size: 14px; margin-top: 15px; color: #ffffff; font-weight: 700; letter-spacing: 2px; text-transform: uppercase; background: #111111; padding: 0 30px; border: none; height: 50px; width: 100%;">
                                            Remove
                                        </button>
                                    </form>
                                </div>

                                <button type="button" class="btn btn-secondary" id="viewCouponsButton"
                                    data-toggle="modal" data-target="#couponsModal" style="margin-top: 20px; font-size: 14px;
                                                                                                    color: #ffffff;
                                                                                                    font-weight: 700;
                                                                                                    letter-spacing: 2px;
                                                                                                    text-transform: uppercase;
                                                                                                    background: #db1717;
                                                                                                    padding: 0 30px;
                                                                                                    border: none;
                                                                                                 
                                                                                                    border-radius: 30px;
                                                                                                  
                                                                                                    right: 0;
                                                                                                    top: 0;
                                                                                                    height: 60px;
                                                                                                    width: 100%;">View
                                    Coupons</button>
                            </div>
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% products.forEach(product=> { %>
                                            <tr>
                                                <td>
                                                    <div class="product-info">
                                                        <div class="product-image">
                                                            <img src="/uploads/product-image/<%= product.productImage %>"
                                                                style="width: 50px; height: 50px; margin-right: 10px;">
                                                        </div>
                                                        <div class="product-details product-details-small">
                                                            <p><b>
                                                                    <%= product.productName %>
                                                                </b></p>
                                                            <p>
                                                                <%= product.productBrand %>
                                                            </p>
                                                            <p>
                                                                <%= product.size %>
                                                            </p>
                                                            <p>
                                                                <%= product.color %>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" name="quantities[]"
                                                        value="<%= product.quantity %>" readonly
                                                        style="width: 50px; border: none; background: transparent;">
                                                    <input type="hidden" name="products[]"
                                                        value="<%= product.productId %>">
                                                    <input type="hidden" name="sizes[]" value="<%= product.size %>">
                                                    <input type="hidden" name="colors[]" value="<%= product.color %>">
                                                </td>
                                                <td>₹<%= product.itemTotal %>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                                <ul class="checkout__total__all">
                                    <li> Sale Price Subtotal <span>₹<%= subtotal.toFixed(2) %></span>
                                        <input type="hidden" name="subtotal" value="<%= subtotal %>">
                                    </li>
                                    <li>Coupon Discount <span style="color: green; font-size: 14px;">₹<%=
                                                discountAmount.toFixed(2) %></span></li>
                                    <li>Shipping <span style="color: gray; font-size: 14px;">₹<%= shipping.toFixed(2) %>
                                        </span>
                                        <input type="hidden" name="shipping" value="<%= shipping %>">
                                    </li>
                                    <li>Grand Total <span>₹<%= total.toFixed(2) %></span>
                                        <input type="hidden" name="total" value="<%= total %>">
                                    </li>
                                </ul>
                                <h4 class="order__title">Payment Method</h4>
                                <div class="checkout__input__checkbox">
                                    <label for="cod-payment">
                                        <input type="radio" id="cod-payment" name="paymentMethod" value="COD">
                                        Cash On Delivery
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="razorpay-payment">
                                        <input type="radio" id="razorpay-payment" name="paymentMethod" value="RazorPay">
                                        Razor Pay
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="wallet-payment">
                                        <input type="radio" id="wallet-payment" name="paymentMethod" value="Wallet">
                                        Wallet
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <% if (addresses.length> 0) { %>
                                    <input type="hidden" name="primaryAddressId"
                                        value="<%= addresses.find(address => address.isPrimary)._id %>">
                                    <% } %>
                                        <button type="submit" class="site-btn">Proceed to Checkout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"
                style="background-image: url('assets/images/editAddress2.png'); background-size: cover; background-position: center; background-repeat: no-repeat; backdrop-filter: blur(100px);">
                <div class="modal-header">
                    <h5 class="modal-title" id="addressModalLabel">Add New Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/addAddress" class="signup-form" id="signform">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="addressType" style="display:block" class="form-label">Address Type:</label>
                                <select name="addressType" id="addressType" class="form-select" required>
                                    <option value="">Select Address Type</option>
                                    <option value="Home">Home</option>
                                    <option value="Office">Office</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="name" class="form-label">Full Name (First and Last Name)</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
                                <div id="error1" class="error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="country" class="form-label">Country / Region</label>
                                <input type="text" class="form-control" name="country" id="country"
                                    placeholder="Enter your country">
                                <div id="error2" class="error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phone" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" name="phone" id="phone"
                                    placeholder="Enter phone number">
                                <div id="error3" class="error-message"></div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="pincode" class="form-label">Pincode / Zipcode</label>
                                <input type="text" class="form-control" name="pincode" id="pincode"
                                    placeholder="Enter pincode">
                                <div id="error4" class="error-message"></div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="home" class="form-label">Flat, House no., Company</label>
                                <input type="text" class="form-control" name="home" id="home"
                                    placeholder="Enter flat / house no">
                                <div id="error5" class="error-message"></div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="area" class="form-label">Area, Street</label>
                                <input type="text" class="form-control" name="area" id="area"
                                    placeholder="Enter area / street">
                                <div id="error6" class="error-message"></div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="landmark" class="form-label">Landmark</label>
                                <input type="text" class="form-control" name="landmark" id="landmark"
                                    placeholder="Enter landmark">
                                <div id="error7" class="error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="town" class="form-label">Town / City</label>
                                <input type="text" class="form-control" name="town" id="town"
                                    placeholder="Enter city / town">
                                <div id="error8" class="error-message"></div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="state" class="form-label">State / Province</label>
                                <input type="text" class="form-control" name="state" id="state"
                                    placeholder="Enter state or province">
                                <div id="error9" class="error-message"></div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Add Address</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editAddressModal" tabindex="-1" aria-labelledby="editAddressModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content"
                style="background-image: url('assets/images/editAddress2.png'); background-size: cover; background-position: center; background-repeat: no-repeat; backdrop-filter: blur(10px); border-radius: 15px;">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="/update-address/" class="editAddress-form" id="editAddressForm">
                        <input type="hidden" name="id" id="editAddressId1">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="addressType1">Address Type:</label>
                                    <select name="addressType" id="addressType" required style="border-radius: 36px;">
                                        <option value="">Select Address Type</option>
                                        <option value="Home">Home</option>
                                        <option value="Office">Office</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="modalName">Full Name</label>
                                    <input type="text" id="modalName1" name="name" class="form-control" required>
                                    <div id="error11" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="modalCountry">Country / Region</label>
                                    <input type="text" id="modalCountry1" name="country" class="form-control">
                                    <div id="error22" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="modalPhone">Mobile Number</label>
                                    <input type="text" id="modalPhone1" name="phone" class="form-control" required>
                                    <div id="error33" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="modalPincode">Pincode / Zipcode</label>
                                    <input type="text" id="modalPincode1" name="pincode" class="form-control">
                                    <div id="error44" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="modalHome">Flat, House no., Company</label>
                                    <input type="text" id="modalHome1" name="home" class="form-control">
                                    <div id="error55" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="modalArea">Area, Street</label>
                                    <input type="text" id="modalArea1" name="area" class="form-control">
                                    <div id="error66" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <label for="modalLandmark">Landmark</label>
                                    <input type="text" id="modalLandmark1" name="landmark" class="form-control">
                                    <div id="error77" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="modalTown">Town / City</label>
                                    <input type="text" id="modalTown1" name="town" class="form-control">
                                    <div id="error88" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="form-group">
                                    <label for="modalState">State / Province</label>
                                    <input type="text" id="modalState1" name="state" class="form-control">
                                    <div id="error99" class="error-message"></div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary submit">Update Address</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="couponsModal" tabindex="-1" role="dialog" aria-labelledby="couponsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title" id="couponsModalLabel"><i class="fas fa-tags"></i> Available Coupons</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-4">
                    <% if (coupons && coupons.length> 0) { %>
                        <div class="table-responsive">
                            <table class="table table-hover align-middle">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="text-center" style="width: 20%;">Coupon Code</th>
                                        <th>Description</th>
                                        <th class="text-center" style="width: 20%;">Expiry Date</th>
                                        <th class="text-center" style="width: 20%;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% coupons.forEach(coupon=> { %>
                                        <tr>
                                            <td class="text-center">
                                                <span class="badge badge-success" style="font-size: 1rem;">
                                                    <%= coupon.code %>
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-success font-weight-bold">
                                                    <%= coupon.description %>
                                                </span>
                                            </td>
                                            <td class="text-center text-danger font-weight-bold">
                                                <%= new Date(coupon.expiryDate).toLocaleDateString("en-US", {
                                                    year: "numeric" , month: "long" , day: "numeric" }) %>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-primary btn-sm px-4"
                                                    onclick="copyToClipboard('<%= coupon.code %>')">
                                                    Copy Code
                                                </button>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                        <% } else { %>
                            <div class="alert alert-info text-center">
                                <i class="fas fa-info-circle"></i> No coupons available at the moment.
                            </div>
                            <% } %>
                </div>
                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>
                        Close</button>
                </div>
            </div>
        </div>
    </div>
    <%- include("../../views/partials/user/footershop") %>
        <script src="/js/checkoutUpdateAddress.js"></script>
        <script src="/js/checkoutAddAddress.js"></script>
        <script src="/js/checkoutPaymentAndPAddress.js"></script>
        <script src="/js/couponHandler.js"></script>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/checkoutDeleteAddress.js"></script>