<%- include("../../views/partials/user/headerprofile") %>




    <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Hello <%= user.name %>! </h5>
            </div>
            <div class="card-body">
                <p>From your account dashboard, you can easily check &amp; view your
                    <a href="">recent orders</a>, manage your
                    <a href="#">shipping and billing addresses</a>, and
                    <a href="#">edit your password and account details</a>.
                </p>
                <br>
                <p>E-mail : <%= user.email %>
                </p>
                <p>Phone : <%= user.phone %>
                </p>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
        <div class="container mt-4">
            <div class="card">
                <div class="card-body" style="padding: 0px;">

                    <div class="card-header">
                        <h5 class="mb-0">Your Orders </h5>
                    </div>


                    <div class="row mb-3 d-none d-md-flex text-muted ">
                        <div class="col-md-4 ps-5">PRODUCT</div>
                        <div class="col-md-2 ">QUANTITY</div>
                        <div class="col-md-2 ">PRICE</div>
                        <div class="col-md-2 ">STATUS</div>
                        <div class="col-md-2 ">ACTIONS</div>
                    </div>

                    <div class="order-list">

                        <div class="order-item p-3 mb-3 rounded border">
                            <div class="row align-items-center">

                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <div class="d-flex align-items-center">
                                        <img src="https://via.placeholder.com/60" alt="Product 1" class="me-3 rounded"
                                            width="60" height="60">
                                        <div>
                                            <div class="fw-medium ">AFTERGLOW</div>
                                            <div class="text-muted ">₹1,350</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted fs-6 mb-1">QUANTITY
                                    </div>
                                    <div class="quantity-control fs-6">
                                        <span class="mx-2 fs">1</span>
                                    </div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted fs-6 mb-1">PRICE
                                    </div>
                                    <div class="fs">₹1,350.00</div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted  mb-1">STATUS
                                    </div>
                                    <span class="text-warning 
                                                                    ">Dispatched</span>
                                </div>

                                <div class="col-6 col-md-2">
                                    <button class="btn btn-outline-secondary btn w-100 w-md-auto">
                                        View
                                        <i class="bi bi-chevron-down ms-1"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary btn w-100 w-md-auto">
                                        View
                                        <i class="bi bi-chevron-down ms-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="order-item p-3 mb-3 rounded border">
                            <div class="row align-items-center">

                                <div class="col-12 col-md-4 mb-3 mb-md-0">
                                    <div class="d-flex align-items-center">
                                        <img src="https://via.placeholder.com/60" alt="Product 2" class="me-3 rounded"
                                            width="60" height="60">
                                        <div>
                                            <div class="fw-medium 
                                                                            ">SUNBEAM</div>
                                            <div class="text-muted
                                                                            ">₹2,500</div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted fs-6 mb-1">QUANTITY
                                    </div>
                                    <div class="quantity-control fs-6">
                                        <span class="mx-2 fs">2</span>
                                    </div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted fs-6 mb-1">PRICE
                                    </div>
                                    <div class="fs">₹5,000.00</div>
                                </div>


                                <div class="col-6 col-md-2 mb-2 mb-md-0">
                                    <div class="d-md-none text-muted fs-6 mb-1">STATUS
                                    </div>
                                    <span class="text-success 
                                                                    ">Delivered</span>
                                </div>


                                <div class="col-6 col-md-2">
                                    <button class="btn btn-outline-secondary btn w-100 w-md-auto">
                                        View
                                        <i class="bi bi-chevron-down ms-1"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
        <div class="row">
            <% if (user.addresses && user.addresses.length> 0) { %>
                <% user.addresses.forEach((addr)=> { %>
                    <div class="col-lg-6">
                        <div class="card mb-3 mb-lg-0">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h5 class="mb-0">Address</h5>
                                <% if (addr.isPrimary) { %>
                                    <span class="badge bg-success" style="margin-right: 23px;
    background-color: #703535 !important;">Primary</span>
                                    <% } %>
                            </div>
                            <div class="card-body">
                                <address>
                                    <%= addr.fullName %><br>
                                        <%= addr.flatHouseCompany %>, <%= addr.areaStreet %><br>
                                                <%= addr.city %>, <%= addr.state %> -
                                                        <%= addr.postalCode %><br>
                                                            <%= addr.country %><br>
                                                                Phone: <%= addr.mobileNumber %>
                                                                    <br>
                                                                    <% if (addr.additionalInfo) { %>
                                                                        Additional Info:
                                                                        <%= addr.additionalInfo %><br>
                                                                            <% } %>
                                </address>
                                <div class="d-flex justify-content-between">
                                    <% if (!addr.isPrimary) { %>
                                        <a href="#" class="btn-small btn-link"
                                            onclick="confirmPrimaryAddress(event, '<%= addr._id.toString() %>')">
                                            Set as Primary
                                        </a>
                                        <% } %>

                                            <a href="/edit-address/<%= addr._id %>" class="btn-small btn-link">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>

                                            <a href="#" class="btn-small btn-link text-danger"
                                                onclick="confirmDeleteAddress(event, '<%= addr._id %>')">
                                                <i class="fas fa-trash"></i> Delete
                                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                        <% } else { %>
                            <div class="col-12">
                                <h3 class="text-center">No addresses found. Add a new
                                    address!</h3>
                            </div>
                            <% } %>


                                <div class="col-lg-6 mt-4">
                                    <div class="card address-card">
                                        <div class="card-body text-center">
                                            <h5 class="add-address-title" style="color: brown;">Add Address</h5>
                                            <div class="plus-button">
                                                <a href="/user/addAddress" class="btn">
                                                    <span style="font-size: 1.5rem; font-weight: bold;">+</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
        <div class="card">
            <div class="card-header">
                <h5>Account Details</h5>
            </div>
            <div class="card-body">
                <div class="avatar-section">
                    <div class="avatar" id="avatar" style="background-image: url('<%= user.avatar || "" %>');">
                        <% if (!user.avatar) { %>
                            <%= user.name.charAt(0).toUpperCase() %>
                                <% } %>
                    </div>

                    <input type="file" id="avatar-upload" style="display: none;" accept="image/*">
                </div>



                <form method="post" id="updateForm">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Full Name </label>
                            <input type="text" name="name" class="form-control" id="name" value="<%= user.name %>"
                                placeholder="Enter full name">
                            <div id="nameError" class="error-message"></div>
                        </div>


                        <div class="form-group col-md-12">
                            <label>Email Address </label>
                            <input class="form-control" name="email" type="email" id="email" value="<%= user.email %>"
                                readonly>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Mobile Number</label>
                            <input class="form-control" name="phone" type="text" id="phone" value="<%= user.phone %>"
                                placeholder="Enter mobile number">
                            <div id="phoneError" class="error-message" style="color: red;"></div>
                        </div>

                        <div class="form-group col-md-12">
                            <label>Current Password </label>
                            <input class="form-control " name="password" type="password" id="password"
                                placeholder="Enter your current password">
                            <div id="passwordError" class="error-message"></div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>New Password </label>
                            <input class="form-control" name="npassword" type="password" id="npassword"
                                placeholder="Enter your new password" disabled>
                            <div id="newPasswordError" class="error-message"></div>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Confirm Password </label>
                            <input class="form-control" name="cpassword" type="password" id="cpassword"
                                placeholder="Confirm your new password" disabled>
                            <div id="confirmPasswordError" class="error-message"></div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit"
                                style="background-color: brown;" id="saveButton">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include("../../views/partials/user/footerprofile") %>