<%- include("../../views/partials/user/header") %>
    <section class="ftco-section">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">


                        <div class="login-wrap p-4 p-md-5"
                            style="background-image: url(assets/images/signup2.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
                            <h3 class="mb-3" style="font-weight: 600;">Sign Up</h3>

                            <% if (messages.error) { %>
                                <div style="color: red;">
                                    <%= messages.error %>
                                </div>
                                <% } %>

                                    <form method="post" action="/signup" class="signup-form" id="signform">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label class="label" for="name">Full Name</label>
                                                    <input type="text" id="name" name="name"
                                                        value="<%= data && data.name ? data.name : '' %>"
                                                        class="form-control" placeholder="Enter Name">
                                                    <div id="error1" class="error-message"></div>

                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="email">Email Address</label>
                                                    <input type="email" class="form-control" name="email"
                                                        value="<%= data ? data.email : '' %>" id="email"
                                                        placeholder="Enter email">
                                                    <div id="error2" class="error-message"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group ">
                                                    <label class="label" for="phone">Phone Number</label>
                                                    <input type="text" class="form-control" name="phone"
                                                        value="<%= data ? data.phone : '' %>" id="phone"
                                                        placeholder="Enter phone number">
                                                    <div id="error3" class="error-message"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="password">Password</label>
                                                    <div class="input-group">
                                                        <input type="password" id="password" class="form-control"
                                                            name="password" placeholder="Password">
                                                        <span class="input-group-text" id="toggle-password"
                                                            style="cursor: pointer;">
                                                            <i class="fa fa-eye" id="eye-icon"></i>
                                                        </span>
                                                    </div>


                                                    <div id="error4" class="error-message"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="confirm-password">Confirm Password</label>
                                                    <div class="input-group">
                                                        <input type="password" class="form-control" name="cPassword"
                                                            id="confirm-password" placeholder="Confirm Password">
                                                        <span class="input-group-text" id="toggle-confirm-password"
                                                            style="cursor: pointer;">
                                                            <i class="fa fa-eye" id="eye-icon"></i>
                                                        </span>
                                                    </div>
                                                    <div id="error5" class="error-message"></div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-center">
                                                <div class="form-group ">
                                                    <button type="submit" class="btn btn-secondary submit ">Sign
                                                        Up</button>
                                                </div>
                                            </div>
                                        </div>

                                    </form>
                                    <div class="social-wrap">
                                        <p class="or">
                                            <span>or</span>
                                        </p>

                                        <p class="mb-3 text-center">Sign in with Google</p>
                                        <p class="social-media d-flex justify-content-center">
                                            <a href="#"
                                                class="social-icon google d-flex align-items-center justify-content-center"
                                                id="googleSignInButton">
                                                <span class="fab fa-google"></span>
                                            </a>
                                        </p>
                                    </div>
                                    <div class="w-100 text-center">
                                        <p class="mt-4">I'm already a member! <a href="/login">Sign In</a></p>
                                    </div>
                        </div>
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end"
                            style="background-image: url(assets/images/signuppic.webp);">
                            <div class="text w-100">
                                <h2 class="mb-4">Welcome to Crownify</h2>
                                <p>Join us and explore a world of premium headwear. Sign up today to access exclusive
                                    collections and special offers!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include("../../views/partials/user/footer") %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/signUpValid.js"></script>
        <script src="/js/googleSignUp.js"></script>