<%- include("../../views/partials/user/header") %>


    <div id="page-content">
        <!-- Page Title -->
        <div class="page section-header text-center">
            <div class="page-title">
                <div class="wrapper">
                    <h1 class="page-width">Wish List</h1>
                </div>
            </div>
        </div>
        <!-- End Page Title -->

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <% if (wishlistItems.length===0) { %>
                        <!-- Empty Wishlist Section -->
                        <div class="empty-cart-section text-center">
                            <div class="empty-cart-content">
                                <img src="/assets/images/empty-wishlist.png" alt="Empty Wishlist"
                                    class="empty-cart-image mb-4">
                                <div class="empty-cart-actions" style="margin-bottom: 40px">
                                    <a href="/" class="btn btn-primary" style="background-color: black;">Continue
                                        Shopping</a>
                                </div>
                            </div>
                        </div>
                        <% } else { %>
                            <!-- Wishlist Table -->
                            <div class="wishlist-table table-content table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="product-name text-center alt-font">Remove</th>
                                            <th class="product-price text-center alt-font">Images</th>
                                            <th class="product-name alt-font">Product</th>
                                            <th class="product-size alt-font" style="width: 100px;">Size</th>
                                            <th class="product-name alt-font" style="width: 100px;">Color</th>
                                            <th class="product-price text-center alt-font">Unit Price</th>
                                            <th class="stock-status text-center alt-font">Stock Status</th>
                                            <th class="product-subtotal text-center alt-font">Add to Cart</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% wishlistItems.forEach((item, index)=> { %>
                                            <tr class="wishlist-item" data-product-id="<%= item.productId %>">
                                                <!-- Remove Button -->
                                                <td class="product-remove text-center">
                                                    <a href="javascript:void(0);" class="remove-btn"
                                                        data-product-id="<%= item.productId %>">
                                                        <i class="icon icon anm anm-times-l" style="color: black;"></i>
                                                    </a>
                                                </td>
                                                <!-- Product Image -->
                                                <td class="product-thumbnail text-center">
                                                    <a href="#">
                                                        <img src="<%= item.productImage ? '/uploads/product-image/' + item.productImage : '/assets/images/default-product.jpg' %>"
                                                            alt="<%= item.productName || 'Product' %>"
                                                            title="<%= item.productName || 'Product' %>" />
                                                    </a>
                                                </td>
                                                <!-- Product Details -->
                                                <td class="product-name">
                                                    <h4 class="no-margin"><b>
                                                            <%= item.productName %>
                                                        </b></h4>
                                                    <h5 class="no-margin">
                                                        <%= item.brand %>
                                                    </h5>
                                                    <h6 class="no-margin">
                                                        <%= item.category.name %>
                                                    </h6>
                                                </td>
                                                <!-- Size Dropdown -->
                                                <td class="product-size alt-font">
                                                    <select class="form-control size-dropdown" name="size"
                                                        data-product-index="<%= index %>">
                                                        <option value="">Select Size</option>
                                                        <% Object.keys(item.variants).forEach(size=> { %>
                                                            <option value="<%= size %>">
                                                                <%= size %>
                                                            </option>
                                                            <% }); %>
                                                    </select>
                                                </td>
                                                <!-- Color Dropdown -->
                                                <td class="product-color alt-font">
                                                    <select class="form-control color-dropdown" name="color" disabled>
                                                        <option value="">Select Color</option>
                                                    </select>
                                                </td>
                                                <!-- Price -->
                                                <td class="product-price text-center">
                                                    <span class="amount">₹<%= item.salePrice %></span>
                                                </td>
                                                <!-- Stock Status -->
                                                <td class="stock text-center">
                                                    <span class="stock-status">Select Size & Color</span>
                                                </td>
                                                <!-- Add to Cart -->
                                                <td class="product-subtotal text-center">
                                                    <button type="button"
                                                        class="btn btn-small btn-add-to-cart add-to-cart-btn"
                                                        style="background-color: black; color: white;" disabled>
                                                        Add To Cart
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include("../../views/partials/user/footer") %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="/js/cartNav.js"></script>
        <script src="/js/userBlockCheck.js"></script>
        <script src="/js/wishLIistHandler.js"></script>